.task-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 300px;

    &:first-of-type {
        margin-top: 5px;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    &__title {
        margin: 0;

        &--done {
            text-decoration: line-through;
        }
    }

    button {
        margin-left: auto;
        align-self: flex-end;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 12px;
        cursor: pointer;
    }
}
